.content-left{
    margin-left: 0;
    float: left;
    width: 50%;
    height: auto;
    background-color: salmon;
}
.content-right{
    margin-left: 0;
    float: right;
    width: 50%;
    height: auto;
    background-color:greenyellow;
}